.board {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  gap: 6rem;
  width: 80%;
  max-width: 1400px;
  margin-bottom: 2rem;
}

.board__column--picture {
  align-self: center;
}

.board__column--flags {
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30% 30% 30%;
  gap: 1.5rem;
}

.btn-home {
  position: fixed;
  display: flex;
  top: 0.8rem;
  left: 3rem;
  align-items: center;
  font-size: 1.4rem;
}

.btn-home__icon {
  transform: rotate(180deg);
  font-size: 1.8rem;
  margin-right: 0.2rem;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  width: 330px;
  margin-top: 2rem;
}

.counter {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(100, 100, 100, 0.2);
  padding: 0.5rem 3rem;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  font-size: 1.4rem;
}

.matched,
.failed {
  position: fixed;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4rem;
  text-shadow: 0 0 7px rgb(0, 0, 0);
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  animation-name: fadeIn;
  animation-duration: 1s;
}

.matched {
  color: rgb(82, 235, 123);
}

.failed  {
  color: rgb(236, 81, 81);
}

@keyframes fadeIn {
  0% {opacity: 0%}
  30% {opacity: 100%}
  70% {opacity: 100%}
  100% {opacity: 0%}
}