.board {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 45% 55%;
  width: 100%;
  height: 100vh;
  max-width: 1400px;
  align-content: center;
  overflow: hidden;
}

.board__column--picture {
  height: 100%;
}

.board__column--flags {
  align-content: center;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 30% 30% 30%; */
  gap: 5%;
  padding: 10%;
}

.btn-home {
  position: fixed;
  display: flex;
  left: 1rem;
  left: 0;
  top: 0;
  align-items: center;
  font-size: 1rem;
  z-index: 1000;
  background-color: rgba(220, 220, 220, 0.8);
  border-radius: 0 0 5px 0;
}

.btn-home__icon {
  transform: rotate(180deg);
  font-size: 2.1rem;
  margin-right: 0.2rem;
}

.btn-home__text {
  display: none;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.buttons-wrapper > button:first-of-type {
  margin-bottom: 1rem;
}

.counter {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(220, 220, 220, 0.8);
  padding: 0.3rem 1rem;
  border-radius: 0 0 0 5px;
  overflow: hidden;
  font-size: 1.4rem;
  white-space: nowrap;
  z-index: 1000;
}

.matched,
.failed {
  position: fixed;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4rem;
  text-shadow: 0 0 7px rgb(0, 0, 0);
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  animation-name: fadeIn;
  animation-duration: 1s;
}

.matched {
  color: rgb(82, 235, 123);
}

.failed  {
  color: rgb(236, 81, 81);
}

.finished-text {
  width: 80%;
  text-align: center;
  line-height: 2.5rem;
}

@keyframes fadeIn {
  0% {opacity: 0%}
  30% {opacity: 100%}
  70% {opacity: 100%}
  100% {opacity: 0%}
}

@media (min-width: 480px) {
  .board {
    width: 80%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    margin-top: 0;
    gap: 5%;
  }

  .board__column--flags {
    grid-template-rows: 22% 22% 22%;
    padding: 0;
  }

  .btn-home {
    top: 0.8rem;
    left: 3rem;
    background-color: transparent;
  }

  .btn-home__text {
    display: initial;
  }

  .buttons-wrapper {
    flex-direction: row;
  }

  .buttons-wrapper > button:first-of-type {
    margin-right: 1rem;
    margin-bottom: 0;
  }

  .counter {
    padding: 0.5rem 3rem;
    left: 50%;
    right: initial;
    transform: translateX(-50%);
    border-radius: 0 0 5px 5px;
  }
}